<%= render "shared/header" %>
<div class="mb-3" class="display-6"><h1>物件名登録</h1></div>
<%= form_with model:@quotation, method: :post, local: true do |f| %>
  <div class="mb-1">
    <%= f.text_field :name, class: "form-control", id:"quotation-name", placeholder:"物件名" %>
  </div>
  <div class="mb-3">
    <%= f.submit "新規作成" ,class: "btn btn-primary" %>
    </div>
<% end %>
<%= render "shared/footer" %>